body ul{
    margin: 0px;
    padding: 0px;
}
ul {
    list-style-type: none;
    background-color: black;
    color: yellow;
}
.header_nav, .status-bar_nav {
    padding: 10px;
}

.header_nav , .status-bar_nav  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filtered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 270px;
}

.share-section_filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5em;
}
.filtered_cards {
    background-color: turquoise;
    width: 25%;
    height:170px;
    padding: 20px
    
}