* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #FAD200;
  color: #000000
}
ul {
    list-style: none;
}

.bottomNav {
    display: flex;
    justify-content: space-around;
 
    min-height: 10vh;
    background-color: #FAD200;
    color: #000000;
    align-content: center;
}
.navLinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 10vh    ;    

}