body {
    background-color: ;
}
.social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:1.5em;
    height: 430px;
background-color:blanchedalmond ;}
.share-section_card {
    height: 140px;
    width: 40%;
margin: 2px;    
background-color: turquoise;
}